body {
    background-image: url(https://live.staticflickr.com/5167/5294572820_2323633068.jpg);
    background-size: cover;
    text-align: center;
}

button {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
    font-weight: bold;

}

p{
    font-size: x-large;
    font-weight: 900;
}

#increment-btn {
    background: rgb(196, 28, 28);
}

#save-btn {
    background:darkgreen
}

h1 {
    align-self: auto;
    color: rgb(5, 2, 10);
}

h2 {
    color: rgb(5, 2, 10);
}